# Ignora i file generati nella compilazione con pdfLaTeX e latexmk
*.aux
*.auxlock
*.bbl
*.bcf
*.blg
*.dpth
*.fdb_latexmk
*.fls
*.log
*.md5
*.out
*.pdf
*.ptc
*.run.xml
*.toc
tex/*
# ignore externalized figures, created with pgfplots
*.pdf
# ...tranne il file della licenza, che è tracciato
!by-sa-icon.pdf
